	
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/flaticon.woff") format("woff"),
        url("../fonts/flaticon.ttf") format("truetype"),
        url("../fonts/flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
}

.flaticon-24-hours:before { content: "\f100"; }
.flaticon-exam:before { content: "\f101"; }
.flaticon-open-book:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-quote:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-placeholder-1:before { content: "\f106"; }
.flaticon-placeholder-2:before { content: "\f107"; }
.flaticon-placeholder-filled-point:before { content: "\f108"; }
.flaticon-telephone:before { content: "\f109"; }
.flaticon-phone-call:before { content: "\f10a"; }
.flaticon-comment:before { content: "\f10b"; }
.flaticon-timetable:before { content: "\f10c"; }
.flaticon-unlink:before { content: "\f10d"; }
.flaticon-play-arrow:before { content: "\f10e"; }
.flaticon-portfolio:before { content: "\f10f"; }
.flaticon-money-bag:before { content: "\f110"; }
.flaticon-portfolio-1:before { content: "\f111"; }
.flaticon-award:before { content: "\f112"; }
.flaticon-winner:before { content: "\f113"; }
.flaticon-trophy:before { content: "\f114"; }
.flaticon-map:before { content: "\f115"; }
.flaticon-magnifying-glass:before { content: "\f116"; }
.flaticon-menu:before { content: "\f117"; }
.flaticon-shopping-cart:before { content: "\f118"; }
.flaticon-shopping-cart-1:before { content: "\f119"; }
.flaticon-back:before { content: "\f11a"; }
.flaticon-play-button:before { content: "\f11b"; }
.flaticon-back-arrow:before { content: "\f11c"; }
.flaticon-growth:before { content: "\f11d"; }
.flaticon-target:before { content: "\f11e"; }
.flaticon-settings:before { content: "\f11f"; }
.flaticon-avatar:before { content: "\f120"; }
.flaticon-share:before { content: "\f121"; }
.flaticon-heart:before { content: "\f122"; }
.flaticon-like:before { content: "\f123"; }
.flaticon-star:before { content: "\f124"; }
.flaticon-headphones:before { content: "\f125"; }
.flaticon-garbage:before { content: "\f126"; }
.flaticon-internet:before { content: "\f127"; }
.flaticon-network:before { content: "\f128"; }
.flaticon-shopping-cart-2:before { content: "\f129"; }
.flaticon-connections:before { content: "\f12a"; }
.flaticon-email:before { content: "\f12b"; }
.flaticon-message:before { content: "\f12c"; }
.flaticon-full-screen:before { content: "\f12d"; }
.flaticon-send:before { content: "\f12e"; }
.flaticon-success:before { content: "\f12f"; }
.flaticon-tick-inside-circle:before { content: "\f130"; }
.flaticon-monitor:before { content: "\f131"; }
.flaticon-lock:before { content: "\f132"; }
.flaticon-eye:before { content: "\f133"; }
.flaticon-rocket-ship:before { content: "\f134"; }
.flaticon-headphones-1:before { content: "\f135"; }
.flaticon-pin:before { content: "\f136"; }
.flaticon-stopwatch:before { content: "\f137"; }
.flaticon-email-1:before { content: "\f138"; }
.flaticon-crown:before { content: "\f139"; }
.flaticon-multiply:before { content: "\f13a"; }
.flaticon-media-play-symbol:before { content: "\f13b"; }
.flaticon-arrow-pointing-to-right:before { content: "\f13c"; }
.flaticon-back-1:before { content: "\f13d"; }
.flaticon-award-1:before { content: "\f13e"; }
.flaticon-pdf:before { content: "\f13f"; }
.flaticon-loupe:before { content: "\f140"; }
.flaticon-link:before { content: "\f141"; }
.flaticon-user:before { content: "\f142"; }
.flaticon-trophy-1:before { content: "\f143"; }
.flaticon-house:before { content: "\f144"; }
.flaticon-coin:before { content: "\f145"; }
.flaticon-line-chart:before { content: "\f146"; }
.flaticon-planet-earth:before { content: "\f147"; }
.flaticon-pie-chart:before { content: "\f148"; }
.flaticon-megaphone:before { content: "\f149"; }
.flaticon-quote-1:before { content: "\f14a"; }
.flaticon-cloud:before { content: "\f14b"; }
.flaticon-wheel:before { content: "\f14c"; }
.flaticon-light-bulb:before { content: "\f14d"; }
.flaticon-clock:before { content: "\f14e"; }
.flaticon-clock-1:before { content: "\f14f"; }
.flaticon-alarm-clock:before { content: "\f150"; }
.flaticon-alarm-clock-1:before { content: "\f151"; }
.flaticon-shopping-bag:before { content: "\f152"; }
.flaticon-menu-1:before { content: "\f153"; }
.flaticon-big-anchor:before { content: "\f154"; }
.flaticon-flash:before { content: "\f155"; }
.flaticon-add:before { content: "\f156"; }
.flaticon-placeholder-3:before { content: "\f157"; }
.flaticon-increase-size-option:before { content: "\f158"; }
.flaticon-double-angle-pointing-to-right:before { content: "\f159"; }
.flaticon-long-arrow-pointing-to-left:before { content: "\f15a"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f15b"; }
.flaticon-gallery:before { content: "\f15c"; }
.flaticon-right-arrow:before { content: "\f15d"; }
.flaticon-right-arrow-forward:before { content: "\f15e"; }
.flaticon-success-1:before { content: "\f15f"; }
.flaticon-paper-plane:before { content: "\f160"; }
.flaticon-high-volume:before { content: "\f161"; }
.flaticon-left-arrow:before { content: "\f162"; }
.flaticon-go-back-left-arrow:before { content: "\f163"; }
.flaticon-file:before { content: "\f164"; }
.flaticon-share-symbol:before { content: "\f165"; }
.flaticon-favourites-filled-star-symbol:before { content: "\f166"; }
.flaticon-star-1:before { content: "\f167"; }
.flaticon-gift:before { content: "\f168"; }
.flaticon-tick:before { content: "\f169"; }
.flaticon-email-2:before { content: "\f16a"; }
.flaticon-telephone-auricular-with-cable:before { content: "\f16b"; }
.flaticon-placeholder-4:before { content: "\f16c"; }
.flaticon-calendar:before { content: "\f16d"; }
.flaticon-shopping-bag-1:before { content: "\f16e"; }
.flaticon-up-arrow:before { content: "\f16f"; }
.flaticon-angle-arrow-down:before { content: "\f170"; font-weight: 600 }
.flaticon-right-arrow-1:before { content: "\f171"; }
.flaticon-left-arrow-1:before { content: "\f172"; }
.flaticon-check-symbol:before { content: "\f173"; }
.flaticon-pdf-1:before { content: "\f174"; }
.flaticon-powerpoint-file:before { content: "\f175"; }
.flaticon-placeholder-5:before { content: "\f176"; }
.flaticon-24-hours-phone-service:before { content: "\f177"; }
.flaticon-home-page:before { content: "\f178"; }
.flaticon-safe:before { content: "\f179"; }
.flaticon-zoom-increasing-symbol:before { content: "\f17a"; }
.flaticon-zoom-in:before { content: "\f17b"; }
.flaticon-folder:before { content: "\f17c"; }
.flaticon-comment-1:before { content: "\f17d"; }
.flaticon-paper-plane-1:before { content: "\f17e"; }
.flaticon-send-1:before { content: "\f17f"; }
.flaticon-smartphone:before { content: "\f180"; }
.flaticon-24-hours-1:before { content: "\f181"; }
.flaticon-edit:before { content: "\f182"; }
.flaticon-clock-2:before { content: "\f183"; }
.flaticon-hand:before { content: "\f184"; }
.flaticon-add-1:before { content: "\f185"; }
.flaticon-plus-symbol:before { content: "\f186"; }
.flaticon-substract:before { content: "\f187"; }
.flaticon-substract-1:before { content: "\f188"; }
.flaticon-pdf-file-format-symbol:before { content: "\f189"; }
.flaticon-edit-1:before { content: "\f18a"; }
.flaticon-shield:before { content: "\f18b"; }
.flaticon-user-1:before { content: "\f18c"; }
.flaticon-calendar-1:before { content: "\f18d"; }
.flaticon-hand-shake:before { content: "\f18e"; }
.flaticon-startup:before { content: "\f18f"; }
.flaticon-verified:before { content: "\f190"; }
.flaticon-security:before { content: "\f191"; }
.flaticon-checked:before { content: "\f192"; }
.flaticon-quote-2:before { content: "\f193"; }
.flaticon-email-3:before { content: "\f194"; }
.flaticon-24-hours-2:before { content: "\f195"; }
.flaticon-menu-2:before { content: "\f196"; }
.flaticon-menu-3:before { content: "\f197"; }
.flaticon-search:before { content: "\f198"; }
.flaticon-plus:before { content: "\f199"; }
.flaticon-maps-and-flags:before { content: "\f19a"; }
.flaticon-call:before { content: "\f19b"; }
.flaticon-email-4:before { content: "\f19c"; }
.flaticon-user-2:before { content: "\f19d"; }
.flaticon-user-3:before { content: "\f19e"; }
.flaticon-home-1:before { content: "\f19f"; }
.flaticon-home-2:before { content: "\f1a0"; }
.flaticon-shopping-cart-3:before { content: "\f1a1"; }
.flaticon-shopping-bag-2:before { content: "\f1a2"; }
.flaticon-bar-chart:before { content: "\f1a3"; }
.flaticon-suitcase:before { content: "\f1a4"; }
.flaticon-file-1:before { content: "\f1a5"; }
.flaticon-file-2:before { content: "\f1a6"; }
.flaticon-tick-1:before { content: "\f1a7"; }
.flaticon-shopping-bag-3:before { content: "\f1a8"; }
.flaticon-agreement:before { content: "\f1a9"; }
.flaticon-up-arrow-1:before { content: "\f1aa"; }
.flaticon-right-arrow-2:before { content: "\f1ab"; }
.flaticon-left-arrow-2:before { content: "\f1ac"; }
.flaticon-call-1:before { content: "\f1ad"; }
.flaticon-call-2:before { content: "\f1ae"; }
.flaticon-envelope:before { content: "\f1af"; }
.flaticon-location:before { content: "\f1b0"; }
.flaticon-diamond:before { content: "\f1b1"; }
.flaticon-heart-1:before { content: "\f1b2"; }
.flaticon-down-arrow:before { content: "\f1b3"; }
.flaticon-support:before { content: "\f1b4"; }
.flaticon-graph:before { content: "\f1b5"; }
.flaticon-graph-1:before { content: "\f1b6"; }
.flaticon-comment-2:before { content: "\f1b7"; }
.flaticon-conversation:before { content: "\f1b8"; }
.flaticon-left-quote:before { content: "\f1b9"; }
.flaticon-quote-3:before { content: "\f1ba"; }
.flaticon-chat:before { content: "\f1bb"; }
.flaticon-right-quote-sign:before { content: "\f1bc"; }
.flaticon-right-quote:before { content: "\f1bd"; }
.flaticon-quote-4:before { content: "\f1be"; }
.flaticon-quotation-mark:before { content: "\f1bf"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f1c0"; }
.flaticon-straight-quotes:before { content: "\f1c1"; }
.flaticon-left-arrow-3:before { content: "\f1c2"; }
.flaticon-right-arrow-3:before { content: "\f1c3"; }
.flaticon-back-2:before { content: "\f1c4"; }
.flaticon-down-arrow-1:before { content: "\f1c5"; }
.flaticon-course:before { content: "\f1c6"; }
.flaticon-world:before { content: "\f1c7"; }
.flaticon-course-1:before { content: "\f1c8"; }
.flaticon-quote-5:before { content: "\f1c9"; }
.flaticon-computer:before { content: "\f1ca"; }
.flaticon-robot:before { content: "\f1cb"; }
.flaticon-sketch:before { content: "\f1cc"; }
.flaticon-research:before { content: "\f1cd"; }
.flaticon-arrow:before { content: "\f1ce"; }
.flaticon-budget:before { content: "\f1cf"; }
.flaticon-roll-o-plane:before { content: "\f1d0"; }
.flaticon-standard:before { content: "\f1d1"; }
.flaticon-graphic:before { content: "\f1d2"; }
.flaticon-code:before { content: "\f1d3"; }
.flaticon-code-1:before { content: "\f1d4"; }
.flaticon-shout:before { content: "\f1d5"; }
.flaticon-lifestyle:before { content: "\f1d6"; }
.flaticon-camera:before { content: "\f1d7"; }
.flaticon-video:before { content: "\f1d8"; }
.flaticon-grid:before { content: "\f1d9"; }
.flaticon-search-1:before { content: "\f1da"; }
.flaticon-settings-1:before { content: "\f1db"; }
.flaticon-list:before { content: "\f1dc"; }
.flaticon-list-1:before { content: "\f1dd"; }